<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/banner" color="secondary" fill="solid">GESTURE</ion-button>
      <ion-button routerLink="/photo" color="success" fill="solid">PHOTO</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- <app-banner [slides]="slides"></app-banner> -->
<ion-button expand="full" routerLink="/create">
  Add Student
</ion-button>
</ion-content>
